*{
    margin: 0%;
}

.main{
    height: 594px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    font-size: x-large;
    padding: 2px;
    border-style: groove;
    background: linear-gradient(bisque, #d58d5a);
    //background-color: #fde4be;
}
footer{
    border-style: groove;
    background: linear-gradient(rgb(114, 162, 204), azure);
    height: 25px;
    padding: 5px 0 0 10px;
}